@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web.Models
<div class="header-area ">
    <div class="header-top_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8">
                    @Html.Action("RenderShortContent", "ShortContent")
                </div>
                <div class="col-lg-6 col-md-4 ">
                    <div class="social_media_links">
                        @Html.Action("RenderSocialMedias", "SocialMedias")

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="sticky-header" class="main-header-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-3 col-lg-3">
                    <div class="logo">
                        <a href="@Model.Root().Url()">
                            <img src="@(Model.Root().Value<IPublishedContent>("logo").Url())" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9">
                    <div class="main-menu  d-none d-lg-block">
                        <nav>
                            <ul id="navigation">
                                @foreach (var item in Model.Root().Children())
                                {
                                    if (!item.IsVisible())
                                    {
                                        <li>
                                            @if (item.Children().Any() == true)
                                            {

                                                <a href="@item.Url()">@item.Name <i class="ti-angle-down"></i></a>

                                                foreach (var subPage in item.Children())
                                                {
                                                    if (!subPage.IsVisible())
                                                    {
                                                        <ul class="submenu">
                                                            <li><a href="@subPage.Url()">@subPage.Name</a></li>
                                                        </ul>
                                                    }

                                                }



                                            }
                                            else
                                            {
                                                <a href="@item.Url()">@item.Name</a>
                                            }
                                        </li>

                                    }

                                }
                                @{
                                    var links = Model.Root().Value<IEnumerable<Link>>("navigationLinks");
                                    if (links.Any())
                                    {
                                        foreach (var link in links)
                                        {
                                            <li>

                                                <a href="@link.Url" target="@link.Target">@link.Name</a>

                                            </li>
                                        }
                                    }
                                }

                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-12">
                    <div class="mobile_menu d-block d-lg-none"></div>
                </div>
            </div>
        </div>
    </div>
</div>